**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
debug/
run/
*.dat
*.exe
*.bkp
*.7z
motorbench-log.0.0.txt
motorbench-log.0.0.txt.lck
*.h_backup
*.c_backup
*.backup
*.c_backup
*.log
*.log
X2C/activateScilabX2C.bat
*.o
*.lck
X2CScope_MCC_lib/X2CScope_MCC_Lib/standalone-setup-3.65.xml
X2CScope_MCC_lib/X2CScope_MCC_Lib/mcc-setup-4.55.xml
X2CScope_MCC_lib/X2CScope_MCC_Lib/core-setup-4.55.xml
X2CScope_MCC_lib/X2CScope_MCC_Lib/library-setup-4.55.xml
X2C_MCC_lib/X2C_MCC_Lib/core-setup-4.55.xml
X2C_MCC_lib/X2C_MCC_Lib/mcc-setup-4.55.xml
X2C_MCC_lib/X2C_MCC_Lib/library-setup-4.55.xml
X2C_MCC_lib/X2C_MCC_Lib/standalone-setup-3.65.xml
X2C/DemoApplication/H3_test.zip
*.bak
